
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
*.sqlite3
*.log
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Node.js
node_modules/
.next/
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chroma vector DB (if persisted)
chroma_db/

# Output files
*.out
*.bak
